.whatsapp-icon {
  position: fixed; /* Fija el ícono en la pantalla */
  bottom: 30px; /* Distancia desde la parte inferior */
  right: 18px; /* Distancia desde la parte derecha */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  width: 45px; /* Tamaño del ícono */
  height: 45px;
  border-radius: 50%; /* Hace que el ícono sea circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto flotante */
  background-color: #25d366; /* Color de fondo verde de WhatsApp */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-icon img {
  width: 70%; /* Ajusta el tamaño del ícono dentro del botón */
  height: 70%;
}

.whatsapp-icon:hover {
  transform: scale(1.1); /* Agranda el ícono ligeramente al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el mouse */
}
