.h1-title {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.espacio-fisico-page {
  margin-top: 130px;
}

.espacio-fisico-images {
  display: grid;
  grid-template-columns: repeat(3, 0fr); /* 3 columnas */
  gap: 15px; /* Espacio entre las imágenes */
  justify-content: center;
}

.espacio-fisico-image {
  height: 300px;
  width: 300px;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  border-radius: 10px; /* Opcional: bordes redondeados */
}

.espacio-fisico-description-text {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  color: #333; /* Color del texto */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {
  .espacio-fisico-description-text {
    font-size: 1rem; /* Reduce el tamaño del texto en móviles */
    padding: 0 10px; /* Agrega un poco de espacio lateral */
  }

  .espacio-fisico-images {
    grid-template-columns: repeat(3, 1fr); /* Mantén 3 columnas */
    gap: 10px; /* Reduce el espacio entre las imágenes */
    padding: 0 10px; /* Agrega un poco de espacio lateral */
    padding-left: 10px; /* Agrega un poco de espacio lateral */
  }

  .espacio-fisico-image {
    height: 120px; /* Reduce la altura de las imágenes */
    width: 120px; /* Reduce el ancho de las imágenes */
  }
}

.map-container {
  display: flex;
  justify-content: start;
  align-items: start;
}

.map-container iframe {
  padding-left: 50px;
  width: 1000px;
  height: 500px;
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
}

.map-description {
  width: 500px; /* Ancho del contenedor de la descripción */
  height: 500px; /* Altura del contenedor de la descripción */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Alinea el texto en columna */
  margin-top: 0;
  padding-top: 0;
  padding: 20px; /* Espacio interno */
  font-size: 1.2rem; /* Tamaño de la fuente */
  line-height: 1; /* Espaciado entre líneas */
  color: #333; /* Color del texto */
  text-align: center; /* Alineación del texto */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {
  .map-container {
    flex-direction: column; /* Cambia a columna para que el map-description quede debajo */
    align-items: center; /* Centra los elementos */
    gap: 15px; /* Espacio entre el iframe y la descripción */
    padding: 0 20px; /* Aumenta el espacio lateral */
    border-radius: 10px !important; /* Bordes redondeados */
  }

  .map-container iframe {
    width: 450px; /* Ajusta el ancho al contenedor */
    max-width: 450px; /* Un poco más grande en los costados */
    padding-right: 50px;
    height: 400px; /* Ajusta la altura para móviles */
    border-radius: 10px !important; /* Bordes redondeados */
  }

  .map-description {
    padding: 0;
    margin: 0; /* Elimina el margen */
    width: 100%; /* Ajusta el ancho al contenedor */
    max-width: 90%; /* Un poco más grande en los costados */
    height: auto; /* Ajusta la altura automáticamente */
    font-size: 1rem; /* Reduce ligeramente el tamaño del texto */
  }
}
