.adbar-container {
  grid-area: advertisement;
  position: fixed; /* Fija el advertisement en la parte superior */
  top: 0; /* Asegura que esté en la parte superior */
  left: 0;
  width: 100%; /* Ocupa todo el ancho de la ventana */
  background-color: black; /* Fondo negro */
  text-align: center;
  padding: 6px 0; /* Espaciado interno */
  font-size: 3px;
  color: white;
  z-index: 20; /* Asegura que esté encima de otros elementos */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.adbar-text {
  display: flex;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  animation: scroll 20s linear infinite; /* Animación de desplazamiento */
}

.adbar-message {
  margin-right: 50px; /* Espaciado entre los mensajes */
  font-size: 6px;
  color: white; /* Asegura que el texto sea blanco */
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Animación de desplazamiento */
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
