.desktop-image {
  width: 100%;
  max-width: 1920px;
  height: auto;
  max-height: 960px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden; /* Oculta cualquier desbordamiento, incluyendo la barra de scroll */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Difuminado negro en la parte inferior */
.carousel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px; /* Altura del difuminado */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    transparent
  ); /* Gradiente negro */
  pointer-events: none; /* Permite interactuar con los elementos debajo */
  z-index: 1; /* Asegura que esté por encima de las imágenes */
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  position: relative;
  z-index: 0; /* Asegura que las imágenes estén debajo del difuminado */
}

.carousel-images::-webkit-scrollbar {
  display: none; /* Oculta la barra de scroll en navegadores basados en WebKit */
}

.carousel-images {
  scrollbar-width: none; /* Oculta la barra de scroll en navegadores compatibles */
}

.carousel-image {
  min-width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .carousel-button {
    display: none; /* Oculta las flechas en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .carousel-button {
    font-size: 1rem; /* Flechas aún más pequeñas */
  }

  .carousel-button.prev {
    left: 0.25rem; /* Ajusta la posición de la flecha izquierda */
  }

  .carousel-button.next {
    right: 0.25rem; /* Ajusta la posición de la flecha derecha */
  }

  .carousel-image {
    min-width: 100%;
    height: 630px; /* Propiedad anterior "auto"*/
    object-fit: cover; /* Mantiene las proporciones de la imagen */
  }
}
