.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  text-align: center; /* Centra el texto */
  background-color: #f8f9fa; /* Color de fondo opcional */
  color: #333; /* Color del texto */
}

.not-found-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.not-found-page p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.not-found-page a {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  margin-top: 1rem;
}

.not-found-page a:hover {
  text-decoration: underline;
}
